* {
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
}

body {
    margin: 0;
    padding: 0;
}

/* header */

.header {
    width: 100%;
    height: 67px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-bottom: 1px solid lightgrey;
}

.logo {
    height: 100%;
    font-family: 'Kalnia', serif;
    text-align: center;

}

.nav-bar {
    height: 100%;
    display: flex;
    justify-content: center;
}

.link {
    text-decoration: none;
    color: black;
    padding: 21px;
}

.link:hover {
    color: lightblue;
    transition: 0.3s;
}

/* container */

.container {
    width: 70%;
    height: 780px;
    margin-left: auto;
    margin-right: auto;
}

.container>h2 {
    margin-top: 0;
    padding-top: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-control {
    width: 300px;
    height: 50px;
}

.form-text {
    height: 300px;
    width: 600px;
}

.submit {
    background: white;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 5px;
    width: 85px;
    height: 30px;
    cursor: pointer;
}

.submit:hover {
    background: lightslategrey;
    transition: 0.3s;
}

/* footer */

.footer {
    width: 100%;
    height: 70px;
    text-align: center;
    border-top: 1px solid lightgrey;
}

.footer>p {
    margin: 0;
    padding: 22px;
}