* {
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
}

body {
    margin: 0;
    padding: 0;
}

/* header */

.header {
    width: 100%;
    height: 67px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-bottom: 1px solid lightgrey;
}

.logo {
    height: 100%;
    font-family: 'Kalnia', serif;
    text-align: center;

}

.nav-bar {
    height: 100%;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
}

.nav-menu>li {
    padding-left: 35px;
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    color: lightblue;
    transition: 0.3s;
}

/* container1 */

.container1 {
    width: 100%;
    height: 843px;
}

.welcome_preview {
    margin: 95px 0 0 70px;
    width: 80%;
    height: 564px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.span_welcome_logo_font {
    font-family: 'Rubik', sans-serif;
    font-size: 150px;
}

.span2 {
    grid-column-start: 1;
    grid-column-end: 4;
}

.span3 {
    font-family: 'Manrope', sans-serif;
    font-size: 21px;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 20px 0;
}

.span4 {
    grid-column-start: 3;
    grid-column-end: 4;
    margin-left: 160px;
}

/* container2 */

.container2 {
    width: 100%;
    height: 80px;
}

.container2>h4 {
    margin-top: 0;
    text-align: center;
}

/* container3 */

.container3 {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review {
    width: 600px;
    height: 280px;
    margin-bottom:20px;
    border: 1px solid lightgrey;
}

.review-column {
    height: 35px;
    width: 588px;
    border: 1px solid lightgrey;
    margin: 5px;
}

.text {
    height: 140px;
}

/* footer */

.footer {
    width: 100%;
    height: 70px;
    text-align: center;
    border-top: 1px solid lightgrey;
}

.footer>p {
    margin: 0;
    padding: 22px;
}

/* admin.php */

* {
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
}

body {
    margin: 0;
    padding: 0;
}

/* header */

.admin-header {
    width: 100%;
    height: 67px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-bottom: 1px solid lightgrey;
}

.admin-logo {
    height: 100%;
    font-family: 'Kalnia', serif;
    text-align: center;

}

.admin-nav-bar {
    height: 100%;
    display: flex;
    justify-content: center;
}

.admin-link {
    text-decoration: none;
    color: black;
    padding: 21px;
}

.admin-link:hover {
    color: lightblue;
    transition: 0.3s;
}

/* container */

.admin-container {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-review {
    width: 600px;
    height: 670px;
    margin-bottom:30px;
    border: 1px solid lightgrey;
}

.admin-review-column {
    height: 35px;
    width: 588px;
    border: 1px solid lightgrey;
    margin: 5px;
}

.admin-text {
    height: 140px;
}

.admin-delete-form {
    margin-left: 5px;
    margin-top: 5px;
}

.admin-edit {
    background: darkgray;
    border: 1px solid lightslategrey;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
}

.admin-edit:hover {
    background: lightgrey;
    transition: 0.3s;
}

.admin-delete-button {
    background: red;
    border: 1px solid firebrick;
    border-radius: 5px;
    cursor:pointer;
}

.admin-delete-button:hover {
    background: darkred;
    transition: 0.3s;
}

/* footer */

.footer {
    width: 100%;
    height: 70px;
    text-align: center;
    border-top: 1px solid lightgrey;
}

.footer>p {
    margin: 0;
    padding: 22px;
}

/* review */

* {
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
}

body {
    margin: 0;
    padding: 0;
}

/* header */

.review-header {
    width: 100%;
    height: 67px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-bottom: 1px solid lightgrey;
}

.review-logo {
    height: 100%;
    font-family: 'Kalnia', serif;
    text-align: center;

}

.review-nav-bar {
    height: 100%;
    display: flex;
    justify-content: center;
}

.review-link {
    text-decoration: none;
    color: black;
    padding: 21px;
}

.review-link:hover {
    color: lightblue;
    transition: 0.3s;
}

/* container */

.review-container {
    width: 70%;
    height: 780px;
    margin-left: auto;
    margin-right: auto;
}

.review-container>h2 {
    margin-top: 0;
    padding-top: 10px;
}

.review-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review-form-control {
    width: 300px;
    height: 50px;
}

.review-form-text {
    height: 300px;
    width: 600px;
}

.review-submit {
    background: white;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 5px;
    width: 85px;
    height: 30px;
    cursor: pointer;
}

.review-submit:hover {
    background: lightslategrey;
    transition: 0.3s;
}

/* footer */

.footer {
    width: 100%;
    height: 70px;
    text-align: center;
    border-top: 1px solid lightgrey;
}

.footer>p {
    margin: 0;
    padding: 22px;
}

/* error.php */

.error-h5 {
    font-size: 32px;
    text-align: center;
    color: firebrick;
}

.error-p-link {
    text-align: center;
}

.error-link {
    text-decoration: none;
    color: black;
}

.error-link:hover {
    color: lightblue;
    transition: 0.3s;
}